In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.read_csv('/Users/adamberger/Desktop/PG_BEI.csv', index_col = "Date")

In [5]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2017-03-17 -0.004824  0.004430
2017-03-20  0.002415 -0.001361
2017-03-21 -0.000329 -0.002727
2017-03-22 -0.002196 -0.002506
2017-03-23 -0.002421  0.005574

[2574 rows x 2 columns]

In [6]:
sec_returns['PG'].mean()*250

0.06276224261354692

In [8]:
sec_returns['PG'].std()

0.011161903265721093

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.17648518671075145

In [10]:
sec_returns['BEI.DE'].mean()*250

0.06730364292731748

In [11]:
sec_returns['BEI.DE'].std()

0.014258683507114199

In [12]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.22544958158979275

In [23]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.0311470211283288

In [24]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.05082751383901262

In [14]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000125  0.000041
BEI.DE  0.000041  0.000203

In [15]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.031147  0.010300
BEI.DE  0.010300  0.050828

In [17]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.257455
BEI.DE  0.257455  1.000000

In [22]:
weights = np.array([0.5, 0.5])

In [19]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.02564348705031676

In [20]:
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights)) ** 0.5
pfolio_vol

0.16013583936869585

In [25]:
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

0.005149853308481405